<div class="container">
  <div class="row">
    <div class="page-header col-lg-12 col-md-12">
      <div class="row">
        <h1 class="col-lg-4">Cards List</h1>
      </div>
    </div>
  </div>
  <categories></categories>
</div>
