<div class="row">
  <div class="col-lg-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"
          ng-class="{active : $ctrl.curCategory === 'all'}">
          <a ui-sref=".categories" ng-click="$ctrl.setCategory('all')">ALL</a>
      </li>
      <li role="presentation"
          ng-repeat="category in $ctrl.categories"
          ng-class="{active : $ctrl.curCategory === category.title}">
          <a ui-sref=".categories"
             ng-click="$ctrl.setCategory(category.title)">{{category.title | uppercase}}</a>
      </li>
    </ul>
    <form class="navbar-form" role="search" ng-submit="$ctrl.addCategory()">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Add Category"
                ng-model="$ctrl.newCategory">
       </div>
    </form>
  </div>
  <div class="panel-group col-lg-9">
   <div class="panel panel-default panel-info" ng-repeat="category in $ctrl.filteredCategories">
     <div class="panel-heading">
       <h3 class ="panel-title">{{category.title | uppercase}}</h3>
     </div>
     <ui-view></ui-view>
   </div>
  </div>
</div>
