<div class="thumbnail">
  <button type="button" class="close" aria-hidden="true"
          ng-click="$ctrl.remove()">
    &times;
  </button>
  <img ng-srcset={{$ctrl.card.imageUrl}} alt="CardImage" class="img-thumbnail">
  <div class="caption">
    <h3>{{$ctrl.card.title}}</h3>
    <p>{{$ctrl.card.description}}</p>
  </div>
</div>
