<div class="row">
  <div class="col-lg-4 col-md-4"
       ng-repeat="card in $ctrl.cards">
    <card card="card" on-remove="$ctrl.remove(card.id)"></card>
  </div>
  <div class="col-lg-4">
    <form class="navbar-form" ng-submit="$ctrl.add()">
      <input type="text" class="form-control" name="name"
             ng-model="$ctrl.title"
             placeholder="Enter new card's title">
    </form>
  </div>
</div>
